// Buttons

.Button,
.Button--info,
.Button--warning {
  @include inline-block(top);
  @include user-select(none);
  padding: 4px 10px;
  border: 1px solid transparent;
  @include border-radius(2px);
  cursor: pointer;
  // For links
  text-decoration: none !important;

  &[disabled] {
    border-color: #B8C4C8 !important;
    background: #D8DEE0 none !important;
    filter: none !important;
    color: #A2ABAE !important;
    cursor: default;
  }
}

.Button {
  color: #888;
  border-color: #CBCBCB;
  @include gradient_button(#EBEBEB, #F8F8F8, #EBEBEB, #F9F9F9, #F2F2F2);
}

.Button--info {
  color: #FFF;
  border-color: #4BAECC;
  @include gradient_button(#3DCCF6, #5DC3E2, #4DBBDC, #6FCDE9, #60C5E3);
}

.Button--warning {
  color: #FFF;
  border-color: #EC6B3F;
  @include gradient_button(#FB784B, #FE855B, #FB784B, #FF936E, #FB865E);
}
